<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= render "layouts/rails_default" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
    <% end %>
    <div class="container">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
